<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.migration.metadata.SybaseIQMapper">
    <!-- tableName/colNm은 Java에서 SQL identifier 검증을 마친 값만 전달한다. -->
    <select id="selectValidationAggregate" resultType="java.util.Map">
        SELECT COUNT(*) AS ROW_COUNT
        <foreach collection="targets" item="target" index="index">
            <if test="target.sumYn">
                , SUM(${target.colNm}) AS C${index}_SUM
            </if>
            <if test="target.minYn">
                , MIN(${target.colNm}) AS C${index}_MIN
            </if>
            <if test="target.maxYn">
                , MAX(${target.colNm}) AS C${index}_MAX
            </if>
            <if test="target.avgYn">
                , AVG(${target.colNm}) AS C${index}_AVG
            </if>
            <if test="target.distCntYn">
                , COUNT(DISTINCT ${target.colNm}) AS C${index}_DIST_CNT
            </if>
            <if test="target.nullCntYn">
                , COUNT(*) - COUNT(${target.colNm}) AS C${index}_NULL_CNT
            </if>
        </foreach>
          FROM ${tableName}
        <if test="migCond != null and migCond.trim() != ''">
         WHERE ${migCond}
        </if>
    </select>
</mapper>
